@font-face {
  font-family: 'SanFrancisco';
  src: url('../fonts/SFUIDisplay-Regular.ttf');
}

html,
body,
.wrapper,
main {
  margin: 0;
  padding: 0;
  width: 100%;

  display: flex;
  justify-content: center;
  flex-direction: column;
}

main {
  font-family: 'SanFrancisco';
}

.header {
  height: 100vh;
  min-height: 550px;

  display: flex;
  flex-direction: column;

  color: #ffffff;

  position: relative;
  background-image: url('../img/home.jpg');
  background-position: center center;
  background-size: cover;
}

nav {
  display: flex;
}

nav > div {
  margin: 8px 18px;
  display: flex;
  justify-content: center;
  align-items: center;

  /* font-size: 16px;
  font-weight: 400;
  line-height: 1.57142857; */
  font-size: 1.3em;
  font-weight: 500;
  line-height: 1.2;
}

nav > div:first-child {
  flex-grow: 1;
  justify-content: start;
}

nav a {
  display: flex;
  align-items: center;
  color: #ffffff;
  font-weight: 500;
  line-height: 1.2;
  text-decoration: none;
}

nav a > span {
  margin-left: 5px;
}

.info {
  display: grid;
  grid-template-columns: minmax(1px, 300px) minmax(1px, 500px);
  column-gap: 30px;
  align-self: center;
  justify-items: center;
  align-items: center;

  flex-grow: 1;
  padding: 8px 25px 150px 25px;

  font-size: 16px;
  text-align: justify;
  font-weight: 400;
  line-height: 1.57142857;
}

.info > img {
  border-radius: 200px;
}

.info > .discription > h2 {
  display: flex;
  justify-content: center;
  width: 100%;
}

.footer {
  height: 50px;
}

.caption {
  border-bottom: solid 1px #e4eaec;
  display: flex;
  justify-content: center;
}

.pj {
  display: flex;
  justify-content: center;
  align-items: center;

  padding: 10px 25px;
  background-color: #fff;
  border-bottom: solid 1px #e4eaec;
}

.pj:hover {
  box-shadow: 0 6px 20px 0 rgba(0, 0, 0, 0.1);
  transition: all 300ms ease-out;
  z-index: 2;
}

.pj:nth-child(2n + 1) > .photo {
  order: 2;
}

main:nth-child(2n + 1) > .disc {
  order: 1;
}

.photo {
  height: 200px;
  width: 300px;

  margin: 8px 15px;
  margin-bottom: 0;
}

.disc {
  min-height: 200px;
  width: 100%;
  min-width: 300px;
  max-width: 700px;

  font-size: 16px;
  color: #526069;
  text-align: justify;
  font-weight: 400;
  line-height: 1.57142857;

  margin: 8px 15px;
  margin-top: 0;
}

.disc > a {
  font-size: 1.5em;
  font-weight: 500;
  line-height: 1.2;
  color: #37474f;

  display: block;
  width: fit-content;
  text-align: center;
  text-decoration: none;

  margin-block-start: 0.83em;
  margin-block-end: 0.83em;
  margin-inline-start: 0px;
  margin-inline-end: 0px;
  margin-top: 22px;
  padding-bottom: 11px;

  border-bottom: 3px solid #589ffc;
}

.disc > a:hover {
  border-bottom-color: #f84aa7;
}

@media (max-width: 800px) {
  nav > div {
    font-size: 16px;
    margin: 8px 8px;
  }

  nav a > span {
    display: none;
  }

  .info {
    /* flex-direction: column; */

    grid-template-columns: minmax(1px, 700px);
    grid-template-rows: 1fr 2fr;
    justify-items: center;

    align-items: flex-start;
    padding: 8px 12px 150px 12px;
    /* align-content: center; */
  }

  .info > img {
    height: 150px;
    width: 150px;
    margin: 0;
  }

  .info > .discription {
    margin: 0;
    margin-top: 20px;
  }

  .pj {
    flex-direction: column;
  }

  .photo {
    order: 1;
    margin: 0;
  }

  .disc {
    order: 2;
    display: flex;
    flex-direction: column;
    align-items: center;
    margin: 0;
  }

  .disc > h2 {
    border-bottom: 2px solid #589ffc;
  }
}

.footer {
  display: flex;
  justify-content: flex-end;
  align-items: center;
  color: #526069;
}

.footer > .date {
  padding: 0 15px;

  font-size: 16px;
  font-weight: 500;
  line-height: 1.57142857;

  /* font-size: 1.3em;
  font-weight: 500;
  line-height: 1.2; */
}
