canvas {
  border: 1px solid black;
}

body {
  margin: 0;
  display: flex;
  flex-direction: row;
  background-color: black;
  justify-content: center;
}

#red {
  background-color: #aaaaaa;
  width: 1px;
}

span {
  position: absolute;
  top: 2vh;
  color: red;
  font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
  font-weight: bold;
  font-size: 24px;
}

#text1 {
  left: 22vw;
}

#text2 {
  left: 73vw;
}
