$Thoroddsenjökull-1-hex: #071726;
$Thoroddsenjökull-2-hex: #d2d6d9;
$Thoroddsenjökull-3-hex: #9ca4a6;
$Thoroddsenjökull-4-hex: #324034;
$Thoroddsenjökull-5-hex: #4c5939;

/* Color Theme Swatches in RGBA */
$Thoroddsenjökull-1-rgba: rgba(6, 23, 38, 1);
$Thoroddsenjökull-2-rgba: rgba(210, 214, 216, 1);
$Thoroddsenjökull-3-rgba: rgba(155, 163, 165, 1);
$Thoroddsenjökull-4-rgba: rgba(49, 63, 51, 1);
$Thoroddsenjökull-5-rgba: rgba(76, 89, 57, 1);

/* Color Theme Swatches in HSLA */
$Thoroddsenjökull-1-hsla: hsla(208, 70, 8, 1);
$Thoroddsenjökull-2-hsla: hsla(202, 7, 83, 1);
$Thoroddsenjökull-3-hsla: hsla(191, 5, 63, 1);
$Thoroddsenjökull-4-hsla: hsla(129, 12, 22, 1);
$Thoroddsenjökull-5-hsla: hsla(84, 21, 28, 1);
