.rules-tabels-wrapper {
  width: 100%;
  display: grid;
  grid-template-columns: repeat(auto-fit, minmax(300px, 1fr));
  justify-items: center;
  column-gap: 8px;
}

.rules-list-wrapper {
  grid-row: span 1;
  grid-column: span 1;

  width: 300px;
  max-height: 500px;
  overflow: auto;
  padding-top: 6px;
  padding-right: 2px;
}

.rules-list {
  display: grid;
  grid-template-columns: 3fr 3fr 3fr 3fr 5fr;
  grid-auto-rows: 30px;
  grid-gap: 4px;
}

.rules-list > div {
  display: flex;
  height: 100%;
  width: 100%;
  border: 1px solid black;
  border-radius: 2px;
  justify-content: center;
  align-items: center;
}

.rules-list > .head-label {
  grid-row: span 1;
  grid-column: span 5;
  font-weight: bold;
  border: 0;
}

.rules-list > .head-number {
  grid-row: span 2;
  grid-column: span 1;
  font-weight: bold;
}

.rules-list > .head-if {
  grid-row: span 1;
  grid-column: span 2;
  font-weight: bold;
}

.rules-list > .head-then {
  grid-row: span 1;
  grid-column: span 1;
  font-weight: bold;
}

.rules-list > .head-sp {
  grid-row: span 2;
  grid-column: span 1;
  font-weight: bold;
}
