body {
  margin: 0;
  height: 100vh;

  display: grid;
  grid-template-columns: minmax(10px, 50px) 1fr minmax(10px, 50px);
  grid-template-rows: 50px 1fr 50px;
}

header,
footer {
  grid-column: 1 / 4;
}

main {
  grid-column: 2 / 3;
  grid-row: 2 / 3;
}

.bold {
  font-weight: bold;
}

.hiden {
  display: none;
}
