* {
  /* outline: 1px solid black; */
}

#wrapper {
  display: flex;
  flex-direction: column;

  font-family: 'Helvetica Neue', Helvetica, Arial, sans-serif;
}

main {
  height: 80vh;
  display: flex;
  flex-direction: column-reverse;
  padding-bottom: 10px;
}

#array {
  display: flex;
  align-items: flex-end;

  /* flex-direction: row; */
  height: 100%;
}

.value {
  background-color: lightgray;
  display: inline-flex;
  justify-content: center;
}

.active {
  background-color: red;
}

.disabled {
  pointer-events: none;
  background-color: #f0f0f0;
}

header {
  display: flex;
  justify-content: center;
  align-items: center;
  height: 5vh;
}

footer {
  display: flex;
  flex-direction: row;
  justify-content: center;
  height: 10vh;
}

footer > section {
  margin: 0 6px;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}

a {
  text-decoration: none;
  color: #007bff;
}

footer > section > button {
  margin: 3px;
  height: 36px;
  width: 100px;
}

footer > section > .input {
  display: flex;
  justify-content: center;
  align-items: center;
  margin: 2px;
}

input[type='range'] {
  width: 50px;
}
input[type='number'] {
  width: 50px;
}
